[data-semana]::after {
    display: inline-block;
    content: '';
    width: 12px;
    height: 12px;
    background-color: red;
    border-radius: 50%;
    margin-left: 4px;
}

[data-semana].aberto::after {
    background-color: #3f4;
}